---
layout: page
title: "About Me"
description: "Hey, this is Fernando."
header-img: "img/about_me.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>Stay hungry<br>
    Stay foolish</p></blockquote>

    <p>Hey，Yo me llamo <strong>Fernando</strong> una estudiate de infornmetica de ShanghaiTech universidad。</p>

    <p>Here is my resume below.</p>

    <h4>Education</h4>
    <p>Computer Science, ShanghaiTech University, Shanghai, China</p>
    <p>GPA(overall): 3.51/4.0</p>
    <p>Dean's Scholarship (Top 7%)</p>

    <h4>Research experieces</h4>
    <p>Autonomous Exploration of Multi-robot Collaboration  | Student Research Assistant</p>
    <p>Advisor: Prof. Wenping Wang (Professor of  Computer Science Department, HongKong University)</p>
    <ul>
        <li>Use Tensor-field for autonomous robot navigation</li>
        <li>Test multi-robot in Gazebo simulating environment</li>
        <li>Apply object detection to make several robots collaborative</li> 
    </ul>

    <p>Terrorism based stock prediction | Student researcher</p>
    <p>Advisor: Prof. Haipeng Zhang (Professor of School of Information Science and Technology, ShanghaiTech University)</p>
    <ul>
        <li>Figure out the categories of different terrorism, the period of terrorism</li>
        <li>The correlation of terrorism with stock, still working on it…</li>
    </ul>

    <h4>Project experiences</h4>
    <p>Sparse Representation Based Facial Recognition</p>
    <ul>
        <li>Apply PCA to reduce image dimension</li>
        <li>Apply contrast compensation to each image to reveal more image features</li>
        <li>Extract eigenvector of each image and implement machine learning</li>
    </ul>

    <p>Reverse Engineering Algorithm Mechanism Behind WeChat Red Packet</p>
    <ul>
        <li>Collect a number of records of WeChat Red packet</li>
        <li>Guess a model and implement python program to simulate the algorithm</li>
    </ul>

    <h4>Working experiences</h4>
    <p>Teaching assistant in Linear Algebra</p>
    <ul>
        <li>Responsible for the tutorial, discussion, exam invigilation, homework grading.</li>
    </ul>

    <p>Developer & Maintainer in Department of High Performance Cluster, ShanghaiTech</p>
    <ul>
        <li>Responsible for GPU monitoring (We are working on a on-campus computing cloud)</li>
        <li>Responsible for warehouse routing inspection, server supporting</li>
    </ul>

    <p>Assistant in Public Relation Committee, ShanghaiTech</p>
    <ul>
        <li>Responsible for updating college official WeChat account</li>
        <li>Responsible for designing college official poster</li>
    </ul>

    <h4>SKILLS AND OTHERS</h4>
    <ul>
        <li>Computer: Matlab, python, C++, C, rust... </li>
        <li>Language: English (Fluent), Spanish(a little), Chinese(native)</li>
        <li>Interests: Kongfu, Archery, Basketball, Table Tennis, Travel, Running</li>
    </ul>



    <!-- <p>这是我的利用 <a href="https://pages.github.com/">GitHub Pages</a> 与 <a href="http://jekyll.com.cn/">Jekyll</a> 搭建的 个人博客。我在GitHub主页<a href="https://github.com/qiubaiying">👉GitHub·BY</a> 与 简书主页<a href="https://http://www.jianshu.com/u/e71990ada2fd">👉BY</a>。如果有什么问题，欢迎提出探讨~</p>

    <p></p>
    
    <h5>Talks</h5>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <li><a href="http://huangxuan.me/">Hux</a></li> 
        <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li>
    </ul> -->
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

